<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="dk">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- 	<link href={% static "main.css"%} rel="stylesheet" type="text/css" media="all"/>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src={% static "main.js"%}></script>  -->
		<title>{% block title %}{% endblock title %}</title>
	</head>
	<body>
		<div id="header">
		{% block head %}
			<h3>Khalidan Translation</h3>
		{% endblock %}
		</div>
		
		<div id="content">
		{% block content %}
		{% endblock %}
		</div>
	
		<div id="footer">
		{% block footer %}
		<hr>
			Khalidan Translation ved Souzane Khalidan </br>
			Tlf.: +45 28878131	</br>
			Email: souzanekh@hotmail.com </br> 
		{% endblock %}
		</div>
	</body>
</html>

