<!-- Made by Trolle & Khalle 2014 -->

{% extends "base.html" %}


{% block title %}Kalender{% endblock %}

{% block content %}

<h2>{{ month }} {{ year }}</h2>

<div class="cal">
	<table class="calender">
		<thead class="days"><tr>
			<th>Man</th>
			<th>Tirs</th>
			<th>Ons</th>
			<th>Tors</th>
			<th>Fre</th>
			<th>Lør</th>
			<th>Søn</th>
	</tr></thead>


			{% for week in weeks %}
			<tr>
				{% for day in week %}
				{% if day != 0 %}
				<td {% if day != 0 %} onMouseOver="this.bgColor='#eeeeee';" onMouseOut="this.bgColor='white';" {% endif %} ><a href="{{ year }}/{{ month }}/{{ day }}"> {{ day }} </a></td>
				{% else %}
				<td> </td>
				{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</tr>

	</table>
</div>


<a href="/tolk/logout">Logout</a>



{% endblock %}
