<!-- Made by Trolle & Khalle -->
<!-- redigeret -->
{% extends "base.html" %}

{% block title %}Login Page{% endblock %}

{% block head %}
<h1>Khalidan Translation</h1>
{% endblock %}


{% block content %}

{% if form.errors %}
<p class="error">Desværre, brugernavn eller password er forkert. Prøv igen. </p>
{% endif %}

<form action="" method="post">{% csrf_token %}
	Brugernavn: <input type="text" name="username" value="" id="username"></br>
	Password: <input type="password" name="password" value="" id="password"></br>
	<input type="submit" value="login" />
	<input type="hidden" name="next" value="/tolk/kalender/" />
</form>	

{% endblock %}


{% block footer %}
Khalidan Translation ved Souzane Khalidan </br>
Tlf.: +45 28878131 </br>
Email: souzanekh@hotmail.com </br>
{% endblock %}
