

h4 {font-size : 15px;
	font-family : Courier, arial, georgia;
}

table.appointment tr {
	height : 10px;
}


td.td_clock{
	padding-right: 15px;
}

input.day {
	border-top : None;
	border-left : None;
	border-right : None;
	border-bottom : 1px solid #ccc;
}


table.appointment {
	border : 1px solid #ccc;
	padding: 5px;
}

table.app_data {
	float: right;
}

td.app_table {
	padding-left:20px;
	display:block;
	float: top;
}

