<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="dk">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{% block sf %}
		{% endblock %}	
		<title>{% block title %}{% endblock title %}</title>
	</head>
	{% block body %}
	<body>
	{% endblock %}

		<div id="header">
		{% block head %}
		{% endblock %}
		</div>
		
		{% block content %}
		<div class="content">
		</div>
		{% endblock %}
		
		<hr>
		<div class="footer">
		{% block footer %}
		{% endblock %}
		</div>
	</body>
</html>

